<!--The starting html file, or home page-->
<!DOCTYPE html>

<head>
    <title>DND Stat Input</title> <!--name of the tab-->
    <link rel="stylesheet" href="../static/skeleton.css" /> <!--connects the stylesheet (css) to the page-->
</head>


<body> 
    <center>
    <form action="/character" method="GET"> <!--sends the form data to the /character endpoint in web.py as a string-->
        <label>Name: </label> <!--label for text box-->
        <input name="nameField"> <!--actual text box-->
        <br /> <!--a line breal to separate elements better-->
        
        <label>Player: </label>
        <input name="pNameField">
        <br />
        
        
        <label>Class: </label>
        <input name="classField">
        <br />
        
        <label>Level: </label>
        <input name="lvlField">
        <br />
        
        <label>Alignment: </label>
        <input name="alignField">
        <br />
        
        <label>Race: </label>
        <input name="raceField">
        <br />

        <label>Check this to go to the character sheet</label>
        <input type="checkbox" name="sheetCheck">

        <button>Submit</button> <!--submit button-->
        <br />
    </form>
    </center>
<!-- 
    <form action="/character" method="GET">
        <label>Name: </label>
        <input name="nameField">
        <br />
        
        <label>Player: </label>
        <input name="pNameField">
        <br />
        
        
        <label>Class: </label>
        <input name="classField">
        <br />
        
        <label>Level: </label>
        <input name="lvlField">
        <br />
        
        <label>Alignment: </label>
        <input name="alignField">
        <br />
        
        <label>Race: </label>
        <input name="raceField">
        <br />
        
        <button>Submit</button>

    </form> -->

</body>